.flexbox {
  display: flex;
  flex-direction: column;
}

.flexbox .row {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  height: 100px;
  padding: 10px;
  margin-bottom: 5px;
}

.error {
  color: red;
}

.button {
  width: 70px;
}
