.root {
  padding: 16px;
}

.title {
  flex-grow: 1;
}

.control {
  padding: 8px !important;
}

.button {
  margin: 8px !important;
}

.hand {
  padding: 12px;
  margin: 16px !important;
  box-sizing: content-box;
  min-height: 127px;
  border-radius: 4px;
  background-color: #efe5fd; /* light purple */
}

.error {
  color: red;
}
